* {
  box-sizing: border-box;
}

html {
  font-family: Georgia, serif;
}


body {
  margin: 2em;
  padding: .125em;
}

h1 {
  font-family: Arial, sans-serif;
}

p {
  font-family: Georgia, serif;
  line-height: 1.5;
  max-width: 33em;
}
