.mailto-link {
  position: relative;
  padding: 8px 0;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(9%, 30%);
  position: absolute;
  opacity: 0;
  width: auto;
  white-space: nowrap;
  font-size: 14px;
  background-color: #2c2c2c;
  color: white;
  font-family: Helvetica, sans-serif;
  padding: 2px 6px;
  border-radius: 2px;
  transition: 0.5s;
}

.mailto-message:after {
  content: '';
  opacity: 1;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
  opacity: 1;
}
